{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{%block content%}
        <h2>General News</h2>
         <ul>
             {{macro.displaySourceList(general)}}
        </ul>
        <h2>Business News</h2>
        <ul>
            {{macro.displaySourceList(business)}}
       </ul>
        <h2>Sports News</h2>
        <ul>
            {{macro.displaySourceList(sports)}}
       </ul>
       <h2>Entertainment News</h2>
       <ul>
           {{macro.displaySourceList(entertainment)}}
      </ul>

{%endblock%}
