{% import 'macros.html' as macro%}

<html>

    <body>

        <h2>BBC news</h2>
         <ul>
             {{macro.displaySourceList(bbc)}}
        </ul>
        <h2> ABC news</h2>
        <ul>
            {{macro.displaySourceList(abc)}}
       </ul>
        <h2>CBS news</h2>
        <ul>
            {{macro.displaySourceList(cbs)}}
       </ul>
       <h2>Cnn news</h2>
       <ul>
           {{macro.displaySourceList(cnn)}}
      </ul>
      <h2>fox news</h2>
      <ul>
          {{macro.displaySourceList(fox)}}
     </ul>
    </body>
</html>
